.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 50px;
    
}

.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.btn-procced{
    background-color: red;
    width: 90%;
    margin: 10px auto;
    
    border-radius: 4px;
    display: flex;
    color: wheat;
    height: 56px;
    font-size: 21px;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}
.procced-link{
    text-decoration: none;
}